@using System.Security.Claims;
@model List<Project>

@{
    
    var user = User as ClaimsPrincipal;
    string userId = user.FindFirst(ClaimTypes.NameIdentifier).Value;
    var ownerClaimValues = user.Claims
        .Where(c => c.Type == UserClaimTypes.PROJECT_OWNER)
        .Select(c => Int32.Parse(c.Value))
        .ToList();
}
      

@foreach(Project project in Model) {
    <div id="@project.Id" class="project-card card shadow box-shadow mt-3">
        <div class="card-body">
            <a class="stretched-link" asp-action="Index" asp-controller="Issue" asp-route-pid="@project.Id"></a>
            <div class="d-flex justify-content-between">
                <h5>@Html.DisplayFor(projectItem => project.Title)</h5>
                <div>
                    @if(User.IsInRole(UserRoles.ADMIN) || (User.IsInRole(UserRoles.PROJ_MNGR) && ownerClaimValues.Contains(project.Id)))
                    {
                        <span class="text-nowrap">
                            <a class="m-1 text-muted position-relative" style="z-index: 10;" asp-controller="Project" asp-action="Details" asp-route-pid="@project.Id"><i class="bi bi-pencil-fill"></i></a>
                            <i tag="delete-project-btn" projectId="@project.Id" projectTitle="@project.Title" role="button" class="m-1 text-muted position-relative bi bi-trash2-fill" style="z-index: 10;"></i>
                        </span>

                    }
                    else
                    {
                        <a class="m-1 text-muted position-relative" style="z-index: 10;" asp-controller="Project" asp-action="Details" asp-route-pid="@project.Id"><i class="bi bi-info-square-fill"></i></a>
                    }
                </div>
            </div>            
            <p>@Html.DisplayFor(projectItem => project.Desc)</p>
            <hr>
             <div>   
                <span>Created: @DateTimeHelpers.GetSimpleElapsedTime(project.DateCreated)</span>
            </div>            
        </div>        
    </div>
}

<div class="delete-project-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title text-white">Delete Project</h5>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the <b id="delete-project-title"></b> project?</p>
            </div>
            <div class="modal-footer">
                <button tag="confirm-modal-btn" id="confirm-modal-btn" type="button" class="btn btn-danger">Delete</button>
                <button tag="close-modal-btn" type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>
