@using System.Security.Claims
@model CreateIssueViewModel

@{
    ViewData["Title"] = "Create";
    var ownerClaimValues = User.Claims
        .Where(c => c.Type == UserClaimTypes.PROJECT_OWNER)
        .Select(c => Int32.Parse(c.Value))
        .ToList();
}

<h1>Project: @Model.Project.Title</h1>

<h4>Create Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-pid="@Model.Project.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Issue.ProjectId" value="@Model.Project.Id"/>
            <input type="hidden" asp-for="Issue.Status" value="@IssueStatus.TO_DO" />
            <div class="form-group">
                <label asp-for="Issue.Title" class="control-label"></label>
                <input asp-for="Issue.Title" class="form-control" />
                <span asp-validation-for="Issue.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Desc" class="control-label"></label>
                <input asp-for="Issue.Desc" class="form-control" />
                <span asp-validation-for="Issue.Desc" class="text-danger"></span>
            </div>
            @if(User.IsInRole(UserRoles.ADMIN) || User.IsInRole(UserRoles.PROJ_MNGR) && ownerClaimValues.Contains(Model.Project.Id)) {
                <div class="form-group">
                    <label asp-for="Issue.AssignedUserId" class="control-label"></label>
                    <select asp-for="Issue.AssignedUserId" class="form-control" asp-items='@new SelectList(Model.AssignableUsers, "Id", "UserName")'></select>
                    <span asp-validation-for="Issue.AssignedUserId" class="text-danger"></span>
                </div>
            }            
            <div class="form-group">
                <label asp-for="Issue.Priority" class="control-label"></label>
                <select asp-for="Issue.Priority" class="form-control" asp-items="@ViewBag.PrioritySelectList"></select>
                <span asp-validation-for="Issue.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Issue.Type" class="control-label"></label>
                <select asp-for="Issue.Type" class="form-control" asp-items="@ViewBag.TypeSelectList"></select>
                <span asp-validation-for="Issue.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
