@using System.Security.Claims
@model CreateIssueViewModel

@{
    ViewData["Title"] = "Create Issue";
}



<form asp-action="Create" asp-controller="Issue" class="container">
    
    <div class="mx-1 my-2 d-flex align-items-center justify-content-between">
        <span class="h6 text-muted">Project: @Model.ProjectTitle</span>
        <a class="btn btn-sm btn-primary" asp-controller="Issue" asp-action="Index" asp-route-pid="@Model.ProjectId">Back</a>
    </div> 

    <div class="card box-shadow shadow">         
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" value="@Model.ProjectId"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <textarea asp-for="Desc" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div> 
  

            <div class="row">

                <div class="form-group col-4">
                    <label asp-for="Status" class="control-label mt-1"></label>
                    <select asp-for="Status" class="form-control mt-1" asp-items="@new SelectList(IssueStatus.List)"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="Priority" class="control-label mt-1"></label>
                    <select asp-for="Priority" class="form-control mt-1" asp-items="@new SelectList(IssuePriority.List)"></select>
                    <span asp-validation-for="Priority" class="text-danger"></span>
                </div>

                <div class="form-group col-4">
                    <label asp-for="Type" class="control-label mt-1"></label>
                    <select asp-for="Type" class="form-control mt-1" asp-items="@new SelectList(IssueType.List)"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
            </div>
            @if(User.IsInRole(UserRoles.ADMIN) || User.IsInRole(UserRoles.PROJ_MNGR))
            {
                <div class="row">
                    <div class="col-12">
                        <label asp-for="AssignedUserId" class="control-label mt-1"></label>
                        <select tag="assigned-dropdown" issueId="@Model.Id" asp-for="AssignedUserId" class="form-select mt-1">
                            <option value="">Unassigned</option>
                            @foreach(var user in Model.AssignableUsers)
                            {
                                <option value="@user.Id">@user.UserName</option>
                            }
                        </select>
                    </div>
                </div>
            }
            <div class="mt-3 d-flex">
                <input type="submit" value="Create Issue" class="btn btn-primary" />
                <a class="btn btn-secondary mx-2" asp-controller="Issue" asp-action="Index" asp-route-pid="@Model.ProjectId">Cancel</a>            
            </div> 
        </div>
    </div>
</form>





