@model EditIssueViewModel

@{
    ViewData["Title"] = "Edit Issue";
    var ownerClaimValues = User.Claims
         .Where(c => c.Type == UserClaimTypes.PROJECT_OWNER)
         .Select(c => Int32.Parse(c.Value))
         .ToList();

}


<div class="edit-issue-container container">
    <div class="my-2 mx-1 d-flex align-items-center justify-content-between">
        <span class="h6 text-muted">Project: @Model.ProjectTitle</span>
        <a class="btn btn-sm btn-primary" href="@ViewBag.BackUrl">Back</a>
    </div> 
    <div class="card box-shadow shadow">        
        <div class="card-body">
            <div>
                <div class="display-title-container">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span class="align-middle h5">Issue Title</span>
                            <i tag="btn-edit-title" role="button" class="bi bi-pencil-fill mx-1 align-bottom"></i>
                        </div>
                        <form asp-action="Delete" asp-route-backUrl="@ViewBag.BackUrl">
                            <input type="hidden" asp-for="@Model.Id" />
                            <input hidden asp-for="@Model.ProjectId" />
                            <button class="bg-white border-0" type="submit"><i class="text-danger bi-trash2-fill"></i></button>                            
                        </form>
                    </div>
                    
                    <span class="display-title fs-4 d-block my-2">@Model.Title</span>   
                </div>
                
                               
                <div class="edit-title-container" hidden>
                    <span class="align-middle h5">Issue Title</span>
                    <input class="edit-title-input form-control fs-4 my-2" issueId="@Model.Id" value="@Model.Title" />
                    <div class="my-2">
                        <button tag="edit-title-submit" class="btn-sm btn-primary">Submit</button>
                        <button tag="edit-title-cancel" class="btn-sm btn-secondary">Cancel</button>
                    </div>                
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="card box-shadow shadow mt-3">
        <div class="card-body">
            <div class="display-desc-container">
                <span class="align-middle h5">Description</span>
                <i tag="btn-edit-desc" role="button" class="bi bi-pencil-fill align-bottom mx-1"></i>
                <span class="display-desc d-block my-2">@Model.Desc</span>
            </div>
            
            <div class="edit-desc-container" hidden>
                <span class="align-middle h5">Description</span>
                <textarea issueId="@Model.Id" class="edit-desc-input form-control my-2" rows="3">@Model.Desc</textarea>

                <div class="my-3">
                    <button tag="edit-desc-submit" class="btn-sm btn-primary">Submit</button>
                    <button tag="edit-desc-cancel" class="btn-sm btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card box-shadow shadow mt-3">
        <div class="card-body">
            <span class="align-middle h5">Information</span>
            <div>
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Status" class="control-label mt-1"></label>
                        @switch(Model.Status)
                        {
                            case IssueStatus.TO_DO:
                                <select tag="status-dropdown" issueId="@Model.Id" asp-for="Status" class="form-select mt-1 bg-success text-white" asp-items="@new SelectList(IssueStatus.List)"></select>
                                break;
                            case IssueStatus.IN_PROGRESS:
                                <select tag="status-dropdown" issueId="@Model.Id" asp-for="Status" class="form-select mt-1 bg-info text-white" asp-items="@new SelectList(IssueStatus.List)"></select>
                                break;
                            case IssueStatus.DONE:
                                <select tag="status-dropdown" issueId="@Model.Id" asp-for="Status" class="form-select mt-1 bg-secondary text-white" asp-items="@new SelectList(IssueStatus.List)"></select>
                                break;

                        }
                        
                    </div>

                    <div class="col-4">
                        <label asp-for="Priority" class="control-label mt-1"></label>
                        <select tag="priority-dropdown" issueId="@Model.Id" asp-for="Priority" class="form-select mt-1" asp-items="@new SelectList(IssuePriority.List)"></select>
                    </div>
                    <div class="col-4">
                        <label asp-for="Type" class="control-label mt-1"></label>
                        
                        <select tag="type-dropdown" issueId="@Model.Id" asp-for="Type" class="form-select mt-1" asp-items="@new SelectList(IssueType.List)"></select>
                    </div>
                </div>
                @if(User.IsInRole(UserRoles.ADMIN) || User.IsInRole(UserRoles.PROJ_MNGR))
                {
                    <div class="row">
                        <div class="col-12">
                            <label asp-for="AssignedUserId" class="control-label mt-1"></label>
                            <select tag="assigned-dropdown" issueId="@Model.Id" asp-for="AssignedUserId" class="form-select mt-1">
                                <option value="">Unassigned</option>
                                @foreach(var user in Model.AssignableUsers)
                                {
                                    <option value="@user.Id">@user.UserName</option>
                                }
                            </select>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





@*<form asp-controller="Issue" asp-action="Edit" asp-route-backUrl="@ViewBag.BackUrl">
    <div class="card">
        <div class="card-header">
            <h1>@Model.ProjectTitle</h1>
            <div class="fs-3">Edit Issue</div>
        </div>
        <div class="card-body">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <textarea asp-for="Desc" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            @if(User.IsInRole(UserRoles.ADMIN) || User.IsInRole(UserRoles.PROJ_MNGR))
            {
                <div class="form-group">
                    <label asp-for="AssignedUserId" class="control-label"></label>
                    <select asp-for="AssignedUserId" class="form-select">
                        <option value="">Unassigned</option>
                        @foreach(var user in Model.AssignableUsers)
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
                    </select>
                    <span asp-validation-for="AssignedUserId" class="text-danger"></span>
                </div>
            }
            
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select" asp-items="@new SelectList(IssueStatus.List)" ><</select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <select asp-for="Priority" class="form-select" asp-items="@new SelectList(IssuePriority.List)"></select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-select" asp-items="@new SelectList(IssueType.List)"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            
        
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-primary" href="@ViewBag.BackUrl">Cancel</a>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
