@model MyIssuesViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "My Issues";
}
<div id="issues-created-container">
    <partial name="_IssueListPartial" model='new IssueListViewModel { Title = "Created Issues", CreatorId = Model.UserId}'/>
</div>

<div id="issues-assigned-container">
    <partial name="_IssueListPartial" model='new IssueListViewModel { Title = "Assigned Issues", AssignedUserId = Model.UserId}'/>
</div>

@section scripts {
    <script>
        $(document).ready(function() {

            $('#issues-created-container').find('.sort-btn').click(function() {
                var searchInput = $('#issues-created-container').find('.search-input').val();

                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("IssueList", "Issue")",
                    data: { creatorId: "@Model.UserId", sortOrder: $(this).attr('sort-order'), searchString: searchInput},
                    success: function(result) {  
                        $('#issues-created-container').find('.component-container').html(result);
                    }
                })
            });


            $('#issues-created-container').find('.search-btn').click(function() {
                console.log('clicked');
                var searchInput = $('#issues-created-container').find('.search-input').val();

                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("IssueList", "Issue")",
                    data: { creatorId: "@Model.UserId", searchString: searchInput},
                    success: function(result) {  
                        $('#issues-created-container').find('.component-container').html(result);
                    }
                })
            })

            $('#issues-assigned-container').find('.sort-btn').click(function() {
                var searchInput = $('#issues-assigned-container').find('.search-input').val();

                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("IssueList", "Issue")",
                    data: { assignedId: "@Model.UserId", sortOrder: $(this).attr('sort-order'), searchString: searchInput},
                    success: function(result) {  
                        $('#issues-assigned-container').find('.component-container').html(result);
                    }
                })
            });


            $('#issues-assigned-container').find('.search-btn').click(function() {
                console.log('clicked');
                var searchInput = $('#issues-assigned-container').find('.search-input').val();

                $.ajax({
                    type: 'GET',
                    url: "@Url.Action("IssueList", "Issue")",
                    data: { assignedId: "@Model.UserId", searchString: searchInput},
                    success: function(result) {  
                        $('#issues-assigned-container').find('.component-container').html(result);
                    }
                })
            })

        })
    </script>
}
