@model ProjectIssueViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <h4>Project</h4>    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Project.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<h4>Issues</h4>
<div id="project-issues">
    <partial name="_IssueListPartial" model="Model?.Issues"/>
</div>
