@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>All Users</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @String.Join(", ", item.Roles)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="EditUserRole" asp-route-userId="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>