@using System.Security.Claims;
@using IssueTracker.Helpers;
@using IssueTracker.Constants;
@model IssueTableComponentViewModel

@{
    ViewData["Title"] = "Index";       
}

<ul class="list-group">
    @foreach(Issue issue in Model.Issues)
    {
        <a class="text-decoration-none" asp-controller="Issue" asp-action="Details" asp-route-id="@issue.Id">
            <li class="list-group-item d-flex justify-content-between">
                <span>
                    @issue.Title
                </span>
                @switch(issue.Status)
                {
                    case IssueStatus.TO_DO:
                        <span class="fw-bold text-success">
                            @issue.Status
                        </span>
                        break;
                    case IssueStatus.IN_PROGRESS:
                        <span class="fw-bold text-info">
                            @issue.Status
                        </span>
                        break;
                    case IssueStatus.DONE:
                        <span class="fw-bold text-secondary">
                            @issue.Status
                        </span>
                        break;
                }
                
            </li>
        </a>
    }
</ul>
