@using System.Security.Claims;
@model IssueListViewModel

@{
    string userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
    var ownerClaimValues = User.Claims
         .Where(c => c.Type == UserClaimTypes.PROJECT_OWNER)
         .Select(c => Int32.Parse(c.Value))
         .ToList();
}

<div class="card shadow">
    <div class="card-header d-flex flex-row justify-content-between align-content-center">
        <span class="h3">@Model.Title</span>
        <div class="input-group w-25">
            <input class="form-control search-input" type="text" placeholder="Search by title" />
            <span role="button" class="input-group-text pointer-event"><i class="bi bi-search search-btn"></i></span>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-resposive">
            <thead>
                <tr>
                    <th>
                        <a class="sort-btn" sort-order="@IssueSortOrder.TITLE">
                        @Html.DisplayNameFor(model => model.Issue.Title)
                        </a>
                    </th>
                    <th>
                        <a class="sort-btn" sort-order="@IssueSortOrder.STATUS">
                        @Html.DisplayNameFor(model => model.Issue.Status)
                        </a>
                    </th>
                    <th>
                        <a class="sort-btn" sort-order="@IssueSortOrder.PRIORITY">
                        @Html.DisplayNameFor(model => model.Issue.Priority)
                        </a>
                    </th>
                    <th>
                        <a class="sort-btn" sort-order="@IssueSortOrder.TYPE">
                        @Html.DisplayNameFor(model => model.Issue.Type)
                        </a>
                    </th>
                    <th>
                        <a class="sort-btn" sort-order="@IssueSortOrder.ASSIGNED_USER_NAME">
                        @Html.DisplayNameFor(model => model.Issue.AssignedUser)
                        </a>
                    </th>
                    <th>
                        <a class="sort-btn" sort-order="@IssueSortOrder.CREATED_DATE">
                        @Html.DisplayNameFor(model => model.Issue.Created)
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="component-container">
                @await Component.InvokeAsync("IssueList",  
                new {
                    pid=Model?.ProjectId,
                    lastSortOrder=IssueSortOrder.CREATED_DATE_DESC,
                    searchString="",
                    creatorId=@Model.CreatorId,
                    assignedId=@Model.AssignedUserId
                })
            </tbody>
        </table>
    </div>
</div>



